/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea/
db/
public/media/

!vendor/brackets/admin-ui/resources/views/admin/partials/main-styles.blade.php
!vendor/brackets/admin-ui/resources/views/admin/partials/main-bottom-scripts.blade.php
/node_modules/
/vendor/
